In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/dataset/hurt.csv')
df

     Unnamed: 0  Unnamed: 1  Unnamed: 2  ...  Unnamed: 11  Unnamed: 12  Unnamed: 13
0          63.0         1.0         1.0  ...          0.0          6.0            0
1          67.0         1.0         4.0  ...          3.0          3.0            2
2          67.0         1.0         4.0  ...          2.0          7.0            1
3          37.0         1.0         3.0  ...          0.0          3.0            0
4          41.0         0.0         2.0  ...          0.0          3.0            0
..          ...         ...         ...  ...          ...          ...          ...
292        57.0         0.0         4.0  ...          0.0          7.0            1
293        45.0         1.0         1.0  ...          0.0          7.0            1
294        68.0         1.0         4.0  ...          2.0          7.0            2
295        57.0         1.0         4.0  ...          1.0          7.0            3
296        57.0         0.0         2.0  ...          1.0          3.0            1

[297 rows x 14 columns]

In [ ]:
import numpy as np
import math
import sys
df=np.array(df)

In [ ]:
def distance(a,b):
  sum=0
  for i in range(13):
    sum+=((a[i]-b[i])**2)
  return math.sqrt(sum)

In [ ]:
dist_mat=np.array(np.zeros((297,297), dtype=float))
for i in range(len(dist_mat)):
  for j in range(len(dist_mat)):
    dist_mat[i][j]=distance(df[i],df[j])

In [ ]:
dist_mat

array([[  0.        ,  87.4814266 ,  60.95900262, ...,  64.70054096,
        120.79420516,  60.57227088],
       [ 87.4814266 ,   0.        ,  72.87660804, ..., 100.14769094,
        158.42802782,  88.69047299],
       [ 60.95900262,  72.87660804,   0.        , ...,  44.99955555,
        100.02819602,  47.96873982],
       ...,
       [ 64.70054096, 100.14769094,  44.99955555, ...,   0.        ,
         69.60488489,  57.38954609],
       [120.79420516, 158.42802782, 100.02819602, ...,  69.60488489,
          0.        , 120.55471787],
       [ 60.57227088,  88.69047299,  47.96873982, ...,  57.38954609,
        120.55471787,   0.        ]])

In [ ]:
def hierarchical_clustering(dist,linkage,no_of_clusters):  
    #first step is to calculate the initial distance matrix
    #it consists distances from all the point to all the point
    color = ['r','g','b','y','c','m','k','w']
    # initial_distances = pairwise_distances(data,metric='euclidean')
    #making all the diagonal elements infinity 
    np.fill_diagonal(dist,sys.maxsize)
    clusters = find_clusters(dist,linkage)
    
    #plotting the clusters
    iteration_number = dist.shape[0] - no_of_clusters
    clusters_to_plot = clusters[iteration_number]

    print(clusters_to_plot)
    # for i in range(0,len(indices_to_plot)):
    #     for j in np.nditer(indices_to_plot[i]):
    #            ax.scatter(df.iloc[j,0],df.[j,1], c= color[p])
    #     p = p + 1
        
    # plt.show()

In [ ]:
def find_clusters(input,linkage):
    clusters = {}
    row_index = -1
    col_index = -1
    array = []
    

    for n in range(input.shape[0]):
        array.append(n)
        
    clusters[0] = array.copy()

    #finding minimum value from the distance matrix
    #note that this loop will always return minimum value from bottom triangle of matrix
    for k in range(1, input.shape[0]):
        min_val = sys.maxsize
  
        for i in range(0, input.shape[0]):
            for j in range(0, input.shape[1]):
                if(input[i][j]<=min_val):
                    min_val = input[i][j]
                    row_index = i
                    col_index = j
        
        #once we find the minimum value, we need to update the distance matrix
        #updating the matrix by calculating the new distances from the cluster to all points
        
        #for Single Linkage
        if(linkage == "single" or linkage =="Single"):
            for i in range(0,input.shape[0]):
                if(i != col_index):
                    #we calculate the distance of every data point from newly formed cluster and update the matrix.
                    temp = min(input[col_index][i],input[row_index][i])
                    #we update the matrix symmetrically as our distance matrix should always be symmetric
                    input[col_index][i] = temp
                    input[i][col_index] = temp
        #for Complete Linkage
        elif(linkage=="Complete" or linkage == "complete"):
             for i in range(0,input.shape[0]):
                if(i != col_index and i!=row_index):
                    temp = min(input[col_index][i],input[row_index][i])
                    input[col_index][i] = temp
                    input[i][col_index] = temp
        #for Average Linkage
        elif(linkage=="Average" or linkage == "average"):
             for i in range(0,input.shape[0]):
                if(i != col_index and i!=row_index):
                    temp = (input[col_index][i]+input[row_index][i])/2
                    input[col_index][i] = temp
                    input[i][col_index] = temp
        
        elif(linkage=="Centroid" or linkage =="centroid"):
            for i in range(0,input.shape[0]):
                if(i!=col_index and i!=row_index):
                    dist_centroid = cal_dist_from_centroid(i,row_index,col_index)
                    input[col_index][i] = dist_centroid
                    input[i][col_index] = dist_centroid
                   
        #set the rows and columns for the cluster with higher index i.e. the row index to infinity
        #Set input[row_index][for_all_i] = infinity
        #set input[for_all_i][row_index] = infinity
        for i in range (0,input.shape[0]):
            input[row_index][i] = sys.maxsize
            input[i][row_index] = sys.maxsize
            
        #Manipulating the dictionary to keep track of cluster formation in each step
        #if k=0,then all datapoints are clusters
       
        minimum = min(row_index,col_index)
        maximum = max(row_index,col_index)
        for n in range(len(array)):
            if(array[n]==maximum):
                array[n] = minimum
        clusters[k] = array.copy()
           
    return clusters

In [ ]:
dist=dist_mat

In [ ]:
hierarchical_clustering(dist_mat,"single",5)

[0, 0, 0, 3, 4, 0, 0, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 151, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]